*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
b_module_classroom/build
t_module_ximalaya/build
recorderlibrary/build
/outputs
b_module_audio/schemas

b_module_webview/schemas
/a_mooc_app/upgradeInfo.txt

AUIFoundation
b_module_offline
beauty
beautyui
commonbiz
commonutils
interactive
queenbeauty
t_module_alivc_livepusher
t_module_ykfsdk