<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mooc.webview">

    <application android:theme="@style/AppTheme">
        <activity
            android:name=".business.NoticeInfoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".business.AnnouncementActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".business.InitiorBriefActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".business.WebViewStudyActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".WebviewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".external.ExternalLikeWebViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:hardwareAccelerated="true" />

        <activity
            android:name=".business.RecommendResourceWebViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".business.BaseResourceWebviewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".business.MicroWebActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".business.MicroProfessionalWebActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".business.VerifyCodeWebActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".business.KnowledgeWebActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".business.ActivityTaskWebActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".business.PeriodicalWebActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".business.NewXtCoursePlayActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:hardwareAccelerated="true" />

        <activity
            android:name=".business.PrivacyWebActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:hardwareAccelerated="true" />

        <activity
            android:name=".business.WebViewParticipateRuleActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name=".business.FeedBackWebActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustResize"
            android:exported="false"
            android:hardwareAccelerated="true" />

        <activity
            android:name=".business.FeedBackWebViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustResize"
            android:exported="false"
            android:hardwareAccelerated="true" />

        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:exported="false"
            android:label="dexopt"
            android:process=":dexopt" />
    </application>

</manifest>