<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mooc.home">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application>
        <activity
            android:exported="false"
            android:name="com.mooc.home.ui.home.HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:exported="false"
            android:name="com.mooc.home.ui.todaystudy.adjusttarget.AdjustTargetActivity"/>

        <activity
            android:name=".ui.scheme.SchemeActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="moocndrly" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>

        </activity>
    </application>

</manifest>